body {
	width: 300px;
	margin: 0;
}
.main-wrapper {
	flex: 1;
	justify-content: center
}

.header-input-container {
	position: fixed;
  display: flex;
  flex-direction: column;
  width: 95%;
  background: white;
  padding: 10px;
}

.header {
	flex: 1;
	text-align: center;
  font-size: 28px;
  font-weight: 100;
  padding-top: 10px;
}

.menu-container {
	flex: 1;
	margin: 20px;
}

.ul-container {
	padding-top: 118px;
  z-index: -2;
}

.coins-ul {
	list-style-type: none;
  padding: 5px
}

.input-container {
	margin-top: 40px;
}

.search-input {
	flex: 1;
	border: none;
	border-bottom: 1px solid #8a9993;
}

.coin-li {
	height: 75px;
	padding: 10px;
	margin-top: 5px;
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.03), 0 6px 7px 0 rgba(0, 0, 0, 0.09);
  background: #efeeee;
  transition: all 0.2s ease
}

.coin-li:hover {
  background: #e9f5ec !important;
  transform: scale(1.02);
}

.coin-li.selected {
	background: #fff
}

.coin-li.loading {
  animation: blinking 1.2s infinite ease-in-out;
}

.coin-info-container {
	display: flex;
	justify-content: space-between;
}

.coin-name-container {
	width: 43vw;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coin-name {
  display: inline-flex;
  font-size: 26px;
  font-weight: 200;
  color: #1d1d1d;
  /*text-shadow: rgba(121, 121, 127, 0.1) -1px 1px 8px;*/
}

.coin-name-short {
  display: inline-flex;
	padding-top: 10px;
  font-size: 10px;
  font-weight: 100;
  color: #1d1d1d;
  /*text-shadow: rgba(121, 121, 127, 0.1) -1px 1px 8px;*/
}

.coin-price-container {
	width: 43vw;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coin-price {
  display: inline-flex;
  font-size: 26px;
  font-weight: 200;
  color: #1d1d1d;
  align-self: flex-end;
  /*text-shadow: rgba(121, 121, 127, 0.1) -1px 1px 8px;*/
}

.coin-change.loss {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #735353;
}

.coin-change.gain {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #819e81;
}

.actions-container {
	display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.actions {
	font-size: 22px !important;
	font-weight: 100;
}

.action {
	cursor: pointer
}
/*
ANIMATED INPUT
*/

.search-input {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
  transition: all 0.5s ease
}

#back-btn {
  position: absolute;
  left: 13px;
  top: 25px;
  color: #5f5f5f;
  opacity: 0;
  transition: all 0.2s ease;
}

#back-btn:hover {
  background-color: #a6cca9
}

#back-btn.showing {
  opacity: 1 !important;
  cursor: pointer;
  border: solid 2px;
  border-radius: 7px;
  padding: 2px;
  font-size: 26px;
  padding-right: 6px;
}

#refresh-btn {
  position: absolute;
  left: 263px;
  top: 11px;
  cursor: pointer;
  font-size: 22px;
  color: #5f5f5f;
  transition: all 0.2s ease;
  border: solid 2px;
  border-radius: 7px;
  padding: 5px;
}

#refresh-btn:hover {
  background-color: #a6cca9
}

.not-showing {
  opacity: 0 !important;
}
label {
	position: absolute;
  top: 100px;
  font-size: 22px;
  font-weight: 100;
  width: 100%;
  color: #a0a2a2;
  transition: all 0.2s ease;
  z-index: -1
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  border-bottom: 1.5px solid #797a7a;
  z-index: 99;
  background-color: transparent;
  transition: all 0.5s ease;
  font-size: 28px;
  font-weight: 300;
  color: #525254;
}
input:focus,
input:valid {
  border-color: #000;
}
input:focus ~ label,
input:valid ~ label {
  top: 70px;
  color: #000;
}

h1 {
  font-weight: 200;
  margin: 32px;
}


.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes blinking {
  0%, 40%, 100% { 
    opacity: 0.5
  }  20% { 
    opacity: 1
  }
}